* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #111;
}

/* Modal */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(0,0,0,0.6);
}


.modal-box {
  width: 600px;
  background: #f3f4f6;
  padding: 25px;
  
  border-radius: 14px;
}

/* Header */
.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal-header h2 {
  font-size: 20px;
}

.modal-header p {
  font-size: 13px;
  color: gray;
}

.close {
  cursor: pointer;
  font-size: 22px;
}

/* Form */
label {
  display: block;
  margin-top: 15px;
  font-size: 14px;
}

input, textarea {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

input:focus, textarea:focus {
  border: 2px solid #0d9488;
  outline: none;
}

textarea {
  height: 100px;
}

/* Row */
.row {
  display: flex;
  gap: 10px;
}

.col {
  flex: 1;
}

/* Dropdown FIXED */
.dropdown {
  position: relative;
}

/* Button */
.dropdown-btn {
  padding: 12px;
  background: white;
  border-radius: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

/* Menu */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #f9fafb;
  border-radius: 12px;
  margin-top: 5px;
  padding: 6px;
  display: none;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  z-index: 9999;   /* 🔥 fixes overlap */
}

/* Items */
/* .item {
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.item:hover {
  background: #e5e7eb;
}


.item.active {
  background: #e4572e;
  color: white;
} */


/* Smooth transition */
.item {
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* Hover effect */
.item:hover {
  background:  #e4572e;              /* light grey */
  transform: translateX(3px);       /* slight move */
  box-shadow: 0 4px 10px rgba(0,0,0,0.15); /* soft shadow */
}

/* Active (selected) */
/* .item.active {
  background: #e4572e;
  color: white;
  box-shadow: 0 6px 15px rgba(228, 87, 46, 0.4);
} */


/* Buttons */
.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.cancel {
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.submit {
  padding: 10px 15px;
  border-radius: 10px;
  background: #0d9488;
  color: white;
  border: none;
}


/* 

.item:hover {
  background: #e4572e;
}
.item.active {
  background: #e4572e;
  color: white;
} */



.overlay {
  position: fixed;
  inset: 0;

  /* 🔥 Transparent dark layer */
  background: rgba(0, 0, 0, 0.4);

  /* ✨ Glass blur effect */
  backdrop-filter: blur(6px);

  display: flex;
  align-items: center;
  justify-content: center;
}